<h1>Buscador de personajes</h1>

<!-- Form. Two types of search:
        1º By name
        2º By ID
-->
<form #searchChar="ngForm">
    <div class="formulario">
        <mat-form-field class="col-sm-6" appearance="outline" class="col-sm-3">
            <mat-label>
                Buscar por nombre:
            </mat-label>
            <input matInput type="text" name="name" #name="ngModel" [(ngModel)]="charName" placeholder="Nombre del personaje" required />
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                El NOMBRE del personaje es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <button type="button" (click)="searchByName(name)" [disabled]="name.invalid&&(name.dirty||name.touched)" mat-raised-button color="primary">
          Buscar
        </button>

        <p *ngIf="charName !=='' " class="error ">
            {{messageNoResults}}
        </p>
    </div>
    <div class="formulario">
        <mat-form-field class="col-sm-6" appearance="outline" class="col-sm-3">
            <mat-label>
                Buscar por ID:
            </mat-label>
            <input matInput type="text" name="id" #id="ngModel" [(ngModel)]="charId" placeholder="ID de personaje" required />
            <mat-error *ngIf="id.invalid && (id.dirty || id.touched)">
                El ID del personaje es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <button type="button" (click)="searchById(id)" [disabled]="id.invalid && (id.dirty || id.touched)" mat-raised-button color="primary">
          Buscar
        </button>

        <p *ngIf="charId !=='' " class="error ">
            {{messageNoResults}}
        </p>
    </div>
</form>


<!-- Display the contents of the search -->


<mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let character of charactersSearch">
        <a routerLink="/detail/{{ character.id }}">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        {{ character.name }}
                    </mat-card-title>
                </mat-card-header>
                <figure>
                    <img [src]="character.image" [alt]="character.name">
                </figure>
            </mat-card>
        </a>
    </mat-grid-tile>
</mat-grid-list>


<!-- <ul>
    <li *ngFor="let character of charactersSearch ">
        <a routerLink="/detail/{{ character.id }} ">
            <div class="card ">
                <div class="cardname ">
                    <p>{{ character.name }}</p>
                </div>
                <figure><img [src]="character.image " /></figure>
            </div>
        </a>
    </li>
</ul> -->