<mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let character of characters">
        <mat-card>

        </mat-card>
        <a routerLink="/detail/{{ character.id }}">
            <div class="card">
                <div class="cardname">
                    <p>{{ character.name }}</p>
                </div>
                <figure><img [src]="character.image" /></figure>
            </div>
        </a>
    </mat-grid-tile>
</mat-grid-list>
<mat-card>

</mat-card>

<!-- <ul>
    <li *ngFor="let character of characters">
        <a routerLink="/detail/{{ character.id }}">
            <div class="card">
                <div class="cardname">
                    <p>{{ character.name }}</p>
                </div>
                <figure><img [src]="character.image" /></figure>
            </div>
        </a>
    </li>
/</ul> -->